numpy
scipy
pandas
scikit-image
torch
torchvision
pyyaml
edt
joblib
lz4
imagecodecs>=2023.7.10
chardet
dask
numba
geff>=1
tqdm
requests
psutil
platformdirs
kornia>=0.7.0
lightning
wandb
tensorboard
configargparse
matplotlib
gitpython
tifffile
seaborn
setuptools
